#title{
    height: 60px;
    width: 60px;
    top: 200px;
}
#tp{
  color:rgb(217, 80, 16) ;
}
li{
    display: inline;
}
.list{
    background-color: turquoise;
    text-align: center;
    font-size: x-large;
    color: rgb(238, 68, 6);
    word-spacing: 50px;
}
